/****Slider****/
.slick-track {
  display: flex; }

.slick-list {
  overflow: hidden; }

.slick-slide {
  outline: none; }

.slick-dots {
  display: flex;
  justify-content: center; }
  .slick-dots li button {
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0px;
    border: none;
    background-color: #a6a6a6;
    margin-right: 7.5px;
    margin-left: 7.5px; }
  .slick-dots .slick-active button {
    background-color: #ffb215;
    position: relative; }
    .slick-dots .slick-active button::after {
      content: "";
      background-image: url("../img/slider-dots-border.svg");
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

/********/
body {
  font-family: "Arial";
  font-weight: 400;
  min-width: 320px; }

.content {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

header {
  color: #fff;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 68px; }
  header .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-main .header-main__open {
      display: flex;
      align-items: center;
      width: 30px;
      height: 17px;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0px;
      position: relative; }
      header .header-main .header-main__open span {
        display: inline-block;
        font-size: 0px;
        width: 100%;
        height: 3px;
        background-color: #a6a6a6; }
        header .header-main .header-main__open span::after {
          content: "";
          width: 100%;
          height: 3px;
          background-color: #a6a6a6;
          position: absolute;
          top: 0px;
          left: 0px; }
        header .header-main .header-main__open span::before {
          content: "";
          width: 100%;
          height: 3px;
          background-color: #a6a6a6;
          position: absolute;
          bottom: 0px;
          left: 0px; }
    header .header-main .header-main__logo {
      width: 152px;
      height: 49px;
      background-image: url("../img/header-logo-mobile.png"); }
    header .header-main .header-main__price {
      display: none; }
    header .header-main .contacts-toggle {
      width: 24px;
      height: 24px;
      padding: 0px;
      border: 0px;
      background-color: transparent;
      outline: none; }
    header .header-main .contacts {
      display: none; }

.menu {
  font-family: "Arial";
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0px;
  padding-left: 30px;
  width: 100%;
  background-color: #fff;
  color: #431b0a; }
  .menu .menu__section {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .menu .menu__section .menu__toggle:focus ~ .sub-menu,
    .menu .menu__section .menu__toggle:active ~ .sub-menu,
    .menu .menu__section .sub-menu:hover {
      display: flex; }
    .menu .menu__section .menu__toggle {
      outline: none;
      position: relative; }
      .menu .menu__section .menu__toggle::before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #431b0a;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%); }
    .menu .menu__section .sub-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
      position: relative; }
      .menu .menu__section .sub-menu .sub-menu__section {
        position: relative; }
        .menu .menu__section .sub-menu .sub-menu__section a {
          font-family: "Arial";
          font-weight: 700;
          font-size: 15px;
          text-transform: none;
          text-decoration: none;
          color: #431b0a; }
        .menu .menu__section .sub-menu .sub-menu__section::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #ffb215;
          position: absolute;
          top: 50%;
          left: -15px;
          transform: translateY(-50%); }
  .menu .header-main__close {
    font-size: 0px;
    position: absolute;
    bottom: -45px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none; }
    .menu .header-main__close::before {
      content: "";
      position: absolute;
      left: 0px;
      transform: rotate(-45deg);
      width: 100%;
      height: 3px;
      background-color: #a6a6a6; }
    .menu .header-main__close::after {
      content: "";
      position: absolute;
      right: 0px;
      transform: rotate(45deg);
      width: 100%;
      height: 3px;
      background-color: #a6a6a6; }

.menu-active {
  display: flex; }

.header-body .header-body__inner .header-body__title {
  font-family: "Arial";
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-top: 90px;
  margin-bottom: 80px; }

.header-body .header-body__inner .header-body__wrap {
  display: flex;
  flex-direction: column; }
  .header-body .header-body__inner .header-body__wrap .header-body__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffb215;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 2px 7px -1px rgba(255, 178, 21, 0.62); }
    .header-body .header-body__inner .header-body__wrap .header-body__btn span {
      margin-left: 14px; }
  .header-body .header-body__inner .header-body__wrap .header-body__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 23px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #fff;
    color: #431b0a; }
    .header-body .header-body__inner .header-body__wrap .header-body__link span {
      margin-left: 14px; }

.completed {
  margin-top: 55px;
  margin-bottom: 73px; }
  .completed .completed-title {
    font-family: "Arial";
    font-weight: 900;
    font-size: 24px;
    color: #431b0a;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }

.completed-slider .completed-section .completed-section__inner {
  margin: 0 auto;
  width: 289px; }
  .completed-slider .completed-section .completed-section__inner img {
    display: block;
    margin: 0 auto;
    width: 289px;
    height: 295px; }
  .completed-slider .completed-section .completed-section__inner p {
    font-family: "Arial";
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    padding-left: 17px;
    margin-bottom: 34px; }
