@font-face {
    font-family: "Arial";
    src: url("../fonts/ArialMT.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: "Arial";
    src: url("../fonts/Arial-BoldMT.ttf") format("TrueType");
    font-weight: 700;
}

@font-face {
    font-family: "Arial-Black";
    src: url("../fonts/Arial-Black.ttf") format("TrueType");
    font-weight: 700;
}