/****Slider****/
.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    outline: none;
}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        button {
            font-size: 0px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 0px;
            border: none;
            background-color: #a6a6a6;
            margin-right: 7.5px;
            margin-left: 7.5px;
        }
    }

    .slick-active {

        button {
            background-color: #ffb215;
            position: relative;
            
            &::after {
                content: "";
                background-image: url("../img/slider-dots-border.svg");
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/********/

body {
    font-family: "Arial";
    font-weight: 400;
    min-width: 320px;
}

.content {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    color: #fff;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 68px;

    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        .header-main__open {
            display: flex;
            align-items: center;
            width: 30px;
            height: 17px;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0px;
            position: relative;

            span {
                display: inline-block;
                font-size: 0px;
                width: 100%;
                height: 3px;
                background-color: #a6a6a6;
                
                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #a6a6a6;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    
                }
            
                &::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #a6a6a6;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    
                }
            }
        }

        .header-main__logo {
            width: 152px;
            height: 49px;
            background-image: url("../img/header-logo-mobile.png");

        }
        
        .header-main__price {
            display: none;
        }

        .contacts-toggle {
            width: 24px;
            height: 24px;
            padding: 0px;
            border: 0px;
            background-color: transparent;
            outline: none;
        }

        .contacts {
            display: none;
        }
    }
}


.menu {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    padding-left: 30px;
    width: 100%;
    background-color: #fff;
    color: #431b0a;

    .menu__section {
        margin-top: 7px;
        margin-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menu__toggle:focus ~ .sub-menu, 
        .menu__toggle:active ~ .sub-menu, 
        .sub-menu:hover { 
            display: flex; 
            
        } 

        .menu__toggle {
            outline: none;
            position: relative;

            &::before {
                content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #431b0a;
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
            }
        }


        .sub-menu { 
            display: none;
            flex-direction: column;
            align-items: flex-start; 
            padding-left: 20px;
            position: relative;

            

            .sub-menu__section {
                position: relative;
                margin-top: 5px;
                margin-bottom: 5px;

                a {
                    font-weight: 700;
                    font-size: 15px;
                    text-transform: none;
                    text-decoration: none;
                    color: #431b0a;
                }

                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #ffb215;
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                }


            }
        } 
    }

    .header-main__close {
        font-size: 0px;
        position: absolute;
        bottom: -45px;
        right: 5px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        outline: none;

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            transform: rotate(-45deg);
            width: 100%;
            height: 3px;
            background-color: #a6a6a6;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0px;
            transform: rotate(45deg);
            width: 100%;
            height: 3px;
            background-color: #a6a6a6;
        }
    }
    
}

.menu-active {
    display: flex;
}






.header-body {

    .header-body__inner {
        


        .header-body__title {
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            margin-top: 90px;
            margin-bottom: 80px;
        }

        .header-body__wrap {
            display: flex;
            flex-direction: column;

            .header-body__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                padding: 0px;
                width: 100%;
                height: 50px;
                background-color: #ffb215;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 7px;
                box-shadow: 1px 2px 7px -1px rgba(255, 178, 21, 0.62);
                
                span {
                    margin-left: 14px;
                }
            }

            .header-body__link {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                margin-top: 23px;
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 7px;
                background-color: #fff;
                color: #431b0a;

                span {
                    margin-left: 14px;
                }
            }
        }
    }
}

.completed {
    margin-top: 55px;
    margin-bottom: 73px;

    .completed-title {
        font-weight: 900;
        font-size: 24px;
        color: #431b0a;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    
}

.completed-slider {

    .completed-section {


        .completed-section__inner {
            margin: 0 auto;
            width: 289px;

            img {
                display: block;
                margin: 0 auto;
                width: 289px;
                height: 295px;
            }
    
            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 15px;
                padding-left: 17px;
                margin-bottom: 34px;
            }
        }
        
        
    }
}

.preference {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 76px;
    background-image: url("../img/preference-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    .preference__title {
        font-weight: 900;
        font-size: 24px;
        text-transform: uppercase;
        color: #ffb215;
    }

    .preference__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7px;

        .preference__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 33px;
            padding-top: 76px;
            position: relative;
            
            h3 {
                font-weight: 700;
                font-size: 14px;
                color: #ffb215;
                text-transform: uppercase;
            }

            p {
                font-size: 14px;
                text-align: center;
                color: #fff;
                opacity: 0.5;
                margin-top: 13px;
                margin-bottom: 22px;
                width: 96.5%;

            }
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-decoration: none;
                height: 32px;
                min-width: 204px;
                padding-left: 21px;
                padding-right: 21px;
                border: 2px solid #594c4d;
                border-radius: 9px;
            }

            &:nth-child(1)::before {
                content: "";
                width: 56px;
                height: 56px;
                background-image: url("../img/preference-icon-1.png");
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(2)::before {
                content: "";
                width: 56px;
                height: 56px;
                background-image: url("../img/preference-icon-2.png");
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(3)::before {
                content: "";
                width: 56px;
                height: 56px;
                background-image: url("../img/preference-icon-3.png");
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(4)::before {
                content: "";
                width: 56px;
                height: 56px;
                background-image: url("../img/preference-icon-4.png");
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(5)::before {
                content: "";
                width: 56px;
                height: 56px;
                background-image: url("../img/preference-icon-5.png");
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }


        }
    }
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 52px;
    padding-bottom: 75px;

    .price__title {
        font-weight: 900;
        font-size: 24px;
        color: #431b0a;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 32px;
        
    }

    .price__parrent {
        overflow: hidden;
        overflow-x: scroll;
        background-color: #f5f3f1;
        border-radius: 6px;
        padding-left: 10px;


        .price__description {
            display: flex;
            align-items: center;
            height: 60px;
            width:  1085px;
            position: relative;

            span {
                font-size: 14px;
                opacity: 0.5;

                &:nth-child(1) {
                    position: absolute;
                    left: 22px;
                }

                &:nth-child(2) {
                    position: absolute;
                    left: 450px;
                }

                &:nth-child(3) {
                    position: absolute;
                    left: 600px;
                }

                &:nth-child(4) {
                    position: absolute;
                    left: 735px;
                }

                &:nth-child(5) {
                    position: absolute;
                    left: 878px;
                }

                &:nth-child(6) {
                    position: absolute;
                    left: 1010px;
                }
            }
        }
        

        .price__child {
            display: flex;
            align-items: center;
            width: 1085px;
            height: 55px;
            margin-bottom: 9px;
            padding-left: 20px;
            background-color: #fff;
            border: 1px dashed #cdcccb;
            border-radius: 6px; 
            position: relative;

            .price__service {
                width: 380px;
                font-size: 14px;
            }

            .price__unit{
                position: absolute;
                left: 490px;
                transform: translateX(-50%);
            }

            .price__cost {
                position: absolute;
                left: 630px;
                transform: translateX(-50%);
            }

            .price__number {
                text-align: center;
                width: 62px;
                position: absolute;
                left: 765px;
                transform: translateX(-50%);
                background-color: #fff;
                border: 2px solid #dddddd;
                border-radius: 4px;
                outline:none;
            }

            .price__sum {
                position: absolute;
                left: 898px;
                transform: translateX(-50%);
            }
            
            .price__check {
                position: absolute;
                left: 1043px;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;

                .price__check-btn {
                    display: none;
                }

                .price__check-btn:checked + .price__check-text::before {
                    opacity: 1;
                }

                .price__check-text {
                    display: inline-block;
                    width: 29px;
                    height: 29px;
                    position: relative;
                    background-image: url("../img/price-checkbox.png");
                
                    &::before {
                        content: "";
                        position: absolute;
                        opacity: 0;
                        width: 29px;
                        height: 29px;
                        background-image: url("../img/price-checkbox-active.png");
                        z-index: 2;
                    }
                }
            }
        }
    }
}

.result {
    margin-top: 63px;

    .result__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        width: 148px;
        height: 32px;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        color: #431b0a;
        border: 2px solid #ffb215;
        border-radius: 9px;
    }

    .result__inner {
        display: flex;
        flex-direction: column;
     
        .result__sum {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px;
            color: #431b0a;

            &:first-child {
                margin-bottom: 5px;
            }

            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        .result__submit {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0px;
            width: 100%;
            height: 50px;
            background-color: #ffb215;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 7px;
            box-shadow: 2px 3px 3px 0px rgba(206, 140, 10, 0.849);
        }
    }
}
